.productListContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;

  & h2 {
    color: var(--Secondary-900);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }
}

.productListHeader {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerTop,
.headerBottom {
  display: contents;
}

.productCardsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}

@media (max-width: 744px) {
  .productListContainer {
    padding: 0 24px;
  }
  .productCardsContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}

@media (max-width: 375px) {
  .productListContainer {
    padding: 0 16px;
  }
  .productCardsContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .productListHeader {
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
  }

  .headerTop,
  .headerBottom {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .headerBottom {
    gap: 8px;
  }

  .search {
    flex: 1;
    min-width: 0;
  }

  .searchBtn {
    margin-right: 0;
  }

  .sort {
    flex-shrink: 0;
  }
}
